***
# Pre Process 
***

In [1]:
# Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

#for easy access to path
import sys
import os

#importing packages for data manuplation and visualization
import numpy as np
import pandas as pd
import math

In [2]:
#Acessing scripts and data path
sys.path.append(os.path.abspath(os.path.join('data')))
sys.path.insert(0,'../scripts/')

In [3]:
#import local libraries
from clean_train_test_df import CleanStoreDf
from data_preview import DataPreview
from data_loader import load_df_from_csv
from data_manipulation import DataManipulator
from plots import *
from result import ResultPicker

In [4]:
#reading our data
pd.set_option('max_column', None)
pd.set_option('max_rows', None)

store_df=pd.read_csv('../data/store.csv')
train_df=pd.read_csv('../data/train.csv')
test_df=pd.read_csv('../data/test.csv')

In [48]:
#creating an object
store_data=DataPreview(store_df)
train_data=DataPreview(train_df)
test_data=DataPreview(test_df)
merged_df=DataPreview(merged_train_store_df)

results = ResultPicker()

In [6]:
train_data_info = DataPreview(train_df)
train_data_info.show_datatypes()
#train_data_info.get_col_unique_value_count('Store')

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [7]:
store_data_info = DataPreview(store_df)
store_data_info.show_datatypes()

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

## <font color='darkolivegreen'>Missing Value</font>

#### STORE DATASET

In [27]:
missing = store_data.percent_missing(store_df)
results.add_data('missing_data',missing)
missing

#get the missing percenatage in each columns
store_data.missing_values_table()

The dataset contains 21.01 % missing values.

                           total_missing_values missing_percentage
Promo2SinceWeek                             544            48.79 %
Promo2SinceYear                             544            48.79 %
PromoInterval                               544            48.79 %
CompetitionOpenSinceMonth                   354            31.75 %
CompetitionOpenSinceYear                    354            31.75 %
CompetitionDistance                           3             0.27 %
Store                                         0              0.0 %
StoreType                                     0              0.0 %
Assortment                                    0              0.0 %
Promo2                                        0              0.0 %

#### TEST DATASET

In [9]:
missing = test_data.percent_missing(store_df)
results.add_data('missing_data',missing)
missing

#get the missing percenatage in each columns
test_data.missing_values_table()

The dataset contains 21.01 % missing values.

               total_missing_values missing_percentage
Open                             11             0.03 %
Id                                0              0.0 %
Store                             0              0.0 %
DayOfWeek                         0              0.0 %
Date                              0              0.0 %
Promo                             0              0.0 %
StateHoliday                      0              0.0 %
SchoolHoliday                     0              0.0 %

#### TRAIN DATASET

In [10]:
missing = train_data.percent_missing(train_df)
results.add_data('missing_data',missing)
missing

#get the missing percenatage in each columns
test_data.missing_values_table()

The dataset contains 0.0 % missing values.

               total_missing_values missing_percentage
Open                             11             0.03 %
Id                                0              0.0 %
Store                             0              0.0 %
DayOfWeek                         0              0.0 %
Date                              0              0.0 %
Promo                             0              0.0 %
StateHoliday                      0              0.0 %
SchoolHoliday                     0              0.0 %

In [29]:
from clean_train_test_df import CleanStoreDf

In [31]:
# object creation 
train_data_cleaner = CleanStoreDf(train_df)
test_data_cleaner = CleanStoreDf(test_df)
store_data_cleaner=CleanStoreDf(store_df)

In [35]:
#changing the datatype of date column
train_data_cleaner.change_column_to_date_type('Date')
test_data_cleaner.change_column_to_date_type('Date')

In [36]:
train_data_cleaner.df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Year                      int64
Month                     int64
Day                       int64
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

In [37]:
test_data_cleaner.df.dtypes

Id                        int64
Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Open                    float64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

>`The Date column on both Train and Test is changed to datetime.`

In [39]:
# Separating date for train and test
train_data_cleaner.separate_date_column(date_column='Date')
test_data_cleaner.separate_date_column(date_column='Date')

In [40]:
train_data_cleaner.df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Year                      int64
Month                     int64
Day                       int64
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

In [41]:
store_data_cleaner.df.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [42]:
train_df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Year                      int64
Month                     int64
Day                       int64
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

In [43]:
store_df.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

>`Separation complete!`

In [51]:
#merging store and train dataset 
merged_train_store_df = pd.merge(train_df, store_df, on=['Store'], how='inner')

In [52]:
merged_train_store_df.dtypes

Store                                 int64
DayOfWeek                             int64
Date                         datetime64[ns]
Year                                  int64
Month                                 int64
Day                                   int64
Sales                                 int64
Customers                             int64
Open                                  int64
Promo                                 int64
StateHoliday                         object
SchoolHoliday                         int64
StoreType                            object
Assortment                           object
CompetitionDistance                 float64
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                int64
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                        object
dtype: object

>`Merging Complete!`

### <font color='darkolivegreen'>Merged Store Train data Missing Value</font>

In [53]:
missing = merged_df.percent_missing(merged_train_store_df)
results.add_data('missing_data',missing)
missing
merged_df.missing_values_table()

The dataset contains 10.17 % missing values.

                           total_missing_values missing_percentage
PromoInterval                            508031            49.94 %
Promo2SinceYear                          508031            49.94 %
Promo2SinceWeek                          508031            49.94 %
CompetitionOpenSinceYear                 323348            31.79 %
CompetitionOpenSinceMonth                323348            31.79 %
CompetitionDistance                        2642             0.26 %
SchoolHoliday                                 0              0.0 %
Promo2                                        0              0.0 %
Assortment                                    0              0.0 %
StoreType                                     0              0.0 %
Store                                         0              0.0 %
DayOfWeek                                     0              0.0 %
Promo                                         0              0.0 %
Open                                          0              0.0 %
Customers                                     0              0.0 %
Sales                                         0              0.0 %
Day                                           0              0.0 %
Month                                         0              0.0 %
Year                                          0              0.0 %
Date                                          0              0.0 %
StateHoliday                                  0              0.0 %

>`Our merged data has 10% missing values`

###### <font color='darkolivegreen'>Drop Missing Value</font>

In [64]:
# fill 0 for nans - gave higher score than median/mean imputation
merged_train_store_df.fillna(0, inplace = True)

In [66]:
missing = merged_df.percent_missing(merged_train_store_df)

The dataset contains 0.0 % missing values.

>`Missing value Filled!`

### <font color='darkolivegreen'>Save to CSV</font>

In [67]:
merged_train_store_df.columns.to_list()

['Store',
 'DayOfWeek',
 'Date',
 'Year',
 'Month',
 'Day',
 'Sales',
 'Customers',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'PromoInterval']

In [68]:
merged_train_store_df.to_csv('../data/store_train.csv')

>`Merged CSV produced!`

***
***